<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/style.css">

    <script src="/public/js/main.js" defer></script>

    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">

    <title>Wasserstandsmeldungen</title>
</head>

<body>
    <div class="title-bar">
        <h1>Wasserstandsmeldungen</h1>
        <p>Die aktuellen und vergangenen Wasserstände von Gewässern in Deutschland</p>
    </div>
    <div class="main">
        <div class="search-bar">
            <form id="search-form" autocomplete="off">
                <input type="text" placeholder="Suche nach Gewässer" id="search-bar-input" />
                <button id="search-button">Suchen</button>
            </form>
        </div>
        <div class="body">
            <div class="waters-container" id="waters-container">

            </div>
        </div>
    </div>
</body>

</html>